* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', 'Poppins', sans-serif;
}
.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f5f3f2;
}

.headerImg {
    display: flex;
    align-items: center;
    height: 330px;
}

.headerImg img {
    cursor: pointer;
}

.navBar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding-bottom: 40px;
    box-sizing: border-box;

    border-bottom: solid 1px #243a54;
}


.navBar .logo{
    display: block;
    margin-right: 30px;
}

.navBar .logo img{
    width: 120px;
    cursor: pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    width: 100%;
    flex-basis: content;
}

.navLinks ul{
    display: flex;
    top: 8px;
}

.navLinks ul li {
    list-style: none;
    display: block;
    position: relative;
    margin: 0 10px;
    padding: 0 5px;
}

.ri-arrow-down-s-line{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 2px;
    padding: 0px 0px 0px 10px;
    font-size: 15px;
    height: 10px;
    font-weight: 800;
    color: #243a54;
}

.navLinks ul li a{
    display: inline-block;
    color: #243a54;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    justify-content: center;

    transition: all .1s ease-in-out;
}

.navLinks ul li a::after{
    content: '';
    height: 5px;
    width: 100%;
    align-content: center;
    background: transparent;
    position: absolute;
    left: 0;
    top: 35px;
}

.navLinks ul li a:hover::after{
    background: #243a54;
}

.container{
    /* width: 80%;
    padding: 0 80px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: solid 2px #243a54; */

    display: block;
    justify-content: center;
    text-align: center;
    /* width: 80%; */
    margin: 0 20px;
    box-sizing: border-box;
}

.container .content{
    margin: 0 80px;
}


.container .content .texts{
    margin: 0 auto;
    max-width: 820px;
    text-align: center;
}
.container .content .texts h3{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 10px;
    cursor: pointer;
}
.container .content .texts h3:hover{
    text-decoration: 1px underline;
}

.container .content .texts h1{
    font-family: 'cambon';
    font-size: 42px;
    line-height: 1.34;
    font-style: normal;
    font-weight: 500;
    color: #000;
    cursor: pointer;

}
.container .content .texts h1:hover{
    color: #243a54;
}

.container .content .banner{
    margin-top: 20px;
    display: block;
    position: relative;
}

.container .content img {
    width: 100%;
    cursor: pointer;
}

/* Stories Content */

.story{
    background-color: #ffffff;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.storyTitle{
    text-align: left;
    margin: 30px 0px;
}
.storyTitle h2{
    font-family: 'cambon';
    font-size: 30px;
    line-height: 1.34;
    font-weight: 300;
    color: #000;
    cursor: default;
}

.storySlides{
    display: flex;
    text-align: left;
}

.wrapper{
    display: flex;
}

.storyItem{
    display: flex;
    text-align: left;
}

.wrapper .ri-arrow-left-s-line, .ri-arrow-right-s-line {
    font-size: 50px;
    color: black;
    cursor: pointer;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.storyItemContent{
    padding: 0px 5px;
    width: 90%;
    background-color: #f5f3f2;
    cursor: grab;
}

.storyItemContent img{
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

.storyItem p{
    width: 50%;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: red;
    margin-bottom: 10px;
    cursor: pointer;
}

.storyItem p:hover{
    text-decoration: 1px underline;
}

.storyItem h3{
    font-family: 'cambon';
    font-size: 22px;
    line-height: 1.34;
    font-weight: 300;
    color: #000;
    cursor: pointer;
}

.storyItem h3:hover{
    color: #243a54;
}
